body {
  background-color: #F3E831;
  color: black;
}

.sidenav {
  height: 100vh;
  width: auto;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

.sidenav a {
  margin-left: 100px;
  margin-right: 25px;
  margin-bottom: 20px;
  display: inline-block;
  font-size: 30px;
  text-decoration: none;
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}


.sidenav a:hover {
  color: black;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}

.title {
  font-size: 18px;
  position: fixed;
  right: 18px;
  bottom: 10px;
  margin: 0;

}

img {
  width:30%;
  position: fixed;
  right: 20%;
  top: 50%;
  transform:translateY(-50%);
}
