body {
  margin: 0;
  width: 100vw;
  height: 100vh:
}

.good {
  display: flex;
  flex-direction: column;
  background: darkgreen;
  width: 100%;
  height: 100vh;
}

.header, .footer {
  height: 20%;
  width: 100%;
  background: rgb(255, 19, 19);
}

.content {
  display: flex;
  flex-direction: row;
  height: 60%;
  width: 100%;
}

.side {
  width: 20%;
  height: 100%;
  background: rgb(151, 171, 221);
}

.apple {
  width: 60%;
  height: 100%;
  background: rgb(116, 162, 49);
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 10vw;
  /* need media query */
}


/* anything larger than 800px, affect these changes */
@media screen and (min-width:800px) {

}
