body {
  margin: 0;
  width: 100vw;
  height: 100vh:
}

#text{
  height: auto;
  width: 20%;
  padding: 20px;
  float: left;
}

#text.one {
  background-color: pink;
}

#text.two {
  background-color: red;
}

#text.three {
  background-color: yellow;
}



.flex{
  display: flex;
  align-items: center;


}

p {
  font-size: 30px;

  /* need media query */
}


/* anything larger than 800px, affect these changes */
@media screen and (min-width:800px) {
p{
  font-size: 20px;
}

}

@media screen and (max-width:800px) {


  #text.three {
  width: 100%;

  }
  #text.one, #text.two {
    width: 40%;
  }

}
