@import url('https://fonts.googleapis.com/css?family=Poppins:400&display=swap');

@keyframes stretch {

  0% {-webkit-transform:scaleX(1);}
 50% {-webkit-transform:scaleX(4);}
 100% {-webkit-transform:scaleX(1);}

}

body {
  background-color: #e8f4ff;
}

.box {
  font-family: Poppins;
  color: blue;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

.boxtwo {
  font-family: Poppins;
  color: blue;
  font-size: 30px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;

  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.box.bigx:hover {
  -webkit-transform: scaleX(4);
   -moz-transform: scaleX(4);
   -o-transform: scaleX(4);
   -ms-transform: scaleX(4);
   transform: scaleX(4);
}

.boxtwo.bigy:hover {
  -webkit-transform: scaleY(4);
   -moz-transform: scaleY(4);
   -o-transform: scaleY(4);
   -ms-transform: scaleY(4);
   transform: scaleY(4);
}
