@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.text {
  position: sticky;
  top:30%;
  height: 100px;
  margin-bottom: 80%;
  margin-left: 180px;
  margin-top: 30%;
  background: white;
}


p {
  font-family: Poppins;
  font-weight: 400;
}
